<table class="form-table">
    <tr class="form-field">
        <th scope="row" valign="top"><label for="{{length_name}}">Excerpt Lenght</label></th>
        <td>
            <input name="{{length_name}}" id="{{length_name}}" type="text" aria-required="false" value="{{length_value}}" />
        </td>
    </tr>
    <tr class="form-field">
        <th scope="row" valign="top"><label for="{{text_name}}">Read more text</label></th>
        <td>
            <input name="{{text_name}}" id="{{text_name}}" type="text" aria-required="false" value="{{text_value}}" />
        </td>
    </tr>
</table>
<input type="hidden" name="term_id" value="{{termId}}" />